<tr>
  <th scope="row"><%= runner.name %></th>
  <td><%= runner.cron %></td>
  <td><%= runner.status %></td>
  <td><%= runner.tags.inspect %></td>
  <td><%= runner.description %></td>
  <td>
    <%= button_to 'Start', household_services_start_path, method: 'post', params: { job_id: runner.jid }, remote: true  %>
    <%= button_to 'Stop', household_services_stop_path, method: 'post', params: { job_id: runner.jid }, remote: true %>
  </td>
</tr>
