<div class="col-4" id="card-title">
  <div class="card shadow p-2 mb-2 bg-white rounded" style="width: 23rem;" id="avatar">

    <%= image_tag @avatar.avatar_image, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= @avatar.first_name + ' ' + @avatar.last_name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @avatar.title %></h6>
      <p class="card-text"><%= @avatar.about %></p>
      <a href="#">LinkedIn</a>
      <a href="#">GitLab</a>
    </div>
    <%= link_to 'Edit', edit_user_registration_path %>
  </div>
</div>
