<% educations.each do |education| %>
  <div class="education_item font-20">
    <strong><%= education.degree %></strong> <%= link_to 'Edit', edit_education_path(education), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#editEducation'} if current_user %>
    <br>
    <%= education.school %><br>
    <p><%= education.date_ended %></p>
  </div>
<% end %>
<%= link_to 'Add new', new_education_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#createNewEducation'} if current_user %>