<% experience.each do |exp| %>
  <div class="experience_item font-20">
      <strong id="exp-title"><%= exp.title %></strong> <%= link_to 'Edit', edit_experience_path(exp), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#EditExperience'} if current_user %>
      <br>
      <p class="no-space">Organization: <%= exp.organization %></p>
      <p class="no-space">Location: <%= exp.location %></p>
      <p>Started: <%= exp.date_started %> Ended: <%= exp.date_ended %></p>
      <p><%= exp.exp_body %></p>
      <hr>
  </div>
<% end %>
<%= link_to 'Add new', new_experience_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#createNewExperience'} if current_user %>
