<% skills.each do |skill| %>
  <div class="skill_item">
    <i><%= skill.title %>: </i><%= skill.body %> <br>
    <%= link_to 'Edit', edit_skill_path(skill), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModalLong', class: 'btn btn-primary btn-lg'} %>
    <%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<%= link_to 'Add new', new_skill_path %>