<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<%= stylesheet_link_tag "static_pages" %>
<%= javascript_pack_tag 'BlogsHistory' %>

<div class="resumeWrapper container mt-3">
  <div class="row justify-content-md-center">
    <%= render 'avatar_section' %>
    <div class="col-xl-8 col-sm-12" id="card-skills">
      <div class="card p-3 mb-3 bg-white rounded">
        <h2 class="ml-4 mt-4 text-muted resume-title title-crop">Skills</h2>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <%= render 'skill_section', skills: @skills %>
        </div>
      </div>
      <div class="card p-3 mb-3 bg-white rounded">
        <h2 class="card-subtitle ml-4 mt-4 text-muted resume-title">Experience</h2>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <%= render 'experience_section', experience: @experience %>
        </div>
      </div>
      <div class="card p-3 mb-3 bg-white rounded">
        <h2 class="card-subtitle ml-4 mt-4 text-muted resume-title">Education</h2>
        <hr>
        <div class="mr-4 ml-4 mb-4 mt-2">
          <%= render 'education_section', educations: @educations %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-4">
    <h3 class="text-center">READ MORE IN BLOGS:</h3>
    <hr class="m-3">
    <div id="react-blogs-history"></div>
  </div>
</div>
