<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @main_skill.name %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @main_skill.percent %>
</p>

<p>
  <strong>Hard:</strong>
  <%= @main_skill.hard %>
</p>

<%= link_to 'Edit', edit_main_skill_path(@main_skill) %> |
<%= link_to 'Back', main_skills_path %>
