<%= stylesheet_link_tag "blogs" %>
<div class="d-flex picHolder text-center"
     style="background-image: url('<%= url_for(@blog.main_image) %>');">
  <div class="container align-self-center p-2 bd-highlight">
    <% if @blog.title.length >= 40 %>
      <h1 class="display-3" id="textHolder"><%= @blog.title.split[0..@blog.title.split.count / 1/3].join(' ') %></h1>
      <h1 id="textHolder"><%= @blog.title.split[@blog.title.split.count / 1/3 + 1..@blog.title.split.count].join(' ') %></h1>
    <% else %>
      <h1 class="display-3" id="textHolder"><%= @blog.title %></h1>
    <% end %>
  </div>
</div>

<div class="container">
  <div>
    Hash tags:
    <% @blog.tags.each do |t| %>
      <%= t.description + '|'%>
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <p id="notice"><%= notice %></p>

    <div class="col-9">
      <div class="blogBody"><%= @blog.body_area %></div>
    </div>
  </div>

  <div class="container text-center">
    <%= link_to 'Edit |', edit_blog_path(@blog) if current_user%>
    <%= link_to 'Back', blogs_path %>
  </div>
</div>
