<% @page_title = "Blogs - #{@blog.title} | Dmitrii Skrylev Portfolio"%>
<%= javascript_pack_tag 'ProjectsHistory' %>
<%= javascript_pack_tag 'BlogsHistory' %>

<%= stylesheet_link_tag "blogs" %>
<div class="d-flex picHolder text-center"
     style="background-image: url('<%= url_for(@blog.main_image) %>');">
  <div class="container align-self-center p-2 bd-highlight">
    <% if @blog.title.length >= 40 %>
      <h1 class="display-3" id="textHolder"><%= @blog.title.split[0..@blog.title.split.count / 1/3].join(' ') %></h1>
      <h1 id="textHolder"><%= @blog.title.split[@blog.title.split.count / 1/3 + 1..@blog.title.split.count].join(' ') %></h1>
    <% else %>
      <h1 class="display-3" id="textHolder"><%= @blog.title %></h1>
    <% end %>
  </div>
</div>

<div class="container">
  <div>
    Hash tags:
    <% @blog.tags.each do |t| %>
      <%= t.description + '|'%>
      <% @seo_keywords = @seo_keywords + ', ' + t.description %>
    <% end %>
  </div>
  <div class="row justify-content-md-center">
    <p id="notice"><%= notice %></p>

    <div class="col-11">
      <div class="text-center">
        <%= link_to 'Back', blogs_path, class: "btn btn-light btn-lg m-5" %>
      </div>
      <div class="blogBody"><%= @blog.body_area %></div>
    </div>
  </div>

  <div class="text-center">
    <%= link_to 'Back', blogs_path, class: "btn btn-light btn-lg m-5" %>
  </div>
  <div id="disqus_thread"></div>
  <div class="m-4">
    <h3 class="text-center mb-4">PROJECTS</h3>
    <hr class="m-3">
    <div id="react-blogs-history"></div>
  </div>
  <div class="m-4">
    <h3 class="text-center mb-4">MORE BLOGS</h3>
    <hr class="m-3">
    <div id="react-projects-history"></div>
  </div>
  <script>

    var disqus_config = function () {
      this.page.url = "http://skrdev.com/blogs/<%= @blog.id %>";
      this.page.identifier = "blog<%= @blog.id %>";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://skrdev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


  <div class="container text-center">
    <%= link_to 'Edit |', edit_blog_path(@blog) if current_user%>
    <%= link_to '| Delete', blog_path, method: :delete, data: { confirm: 'Are you sure?' } if current_user%>
  </div>
</div>
