<p id="notice"><%= notice %></p>

<h1>My Positions</h1>

<table>
  <thead>
    <tr>
      <th>SYMBOL</th>
      <th>COMPANY</th>
      <th>SHARES</th>
      <th>AVERAHE PRICE</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td>SYMBOL</td>
        <td><%= position.monthly_income %></td>
        <td><%= position.shares %></td>
        <td><%= position.average_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-4 card p-3">
    <%= react_component("my_positions/New", { path: my_positions_path }) %>
  </div>
</div>
