<%= stylesheet_link_tag "budget_app" %>

<p id="notice"><%= notice %></p>

<h1>My Positions</h1>

<% if @positions.any? %>
  <div class="card p-5">
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Average Price</th>
          <th>Total Cost</th>
          <th>Market Price</th>
          <th>Market Value</th>
          <th>Gain Loss</th>
          <th>Gain Loss %</th>
          <th>Yield</th>
          <th>Estimated Y Income</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @positions.each do |p| %>
          <tr>
            <td><%= p.x_stock.symbol %></td>
            <td><%= p.shares %></td>
            <td><%= p.average_price %></td>
            <td><%= p.total_cost %></td>
            <td><%= p.x_stock.current_price %></td>
            <td><%= p.shares * p.x_stock.current_price %></td>
            <td><%= Household::Position.gain_loss(p) %></td>
            <td><%= Household::Position.gain_loss_pct(p) %></td>
            <td><%= Household::Position.yield_div(p) %></td>
            <td><%= Household::Position.estimated_income(p) %></td>
            <td><%= link_to 'Show', my_position_path(p) %></td>
            <td><%= link_to 'Edit', edit_my_position_path(p) %></td>
            <td><%= link_to 'Destroy', edit_my_position_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <%= link_to 'Add More', new_my_asset_path, class: "btn btn-success btn-block" %>
  </div>
<% end %>

<% unless @positions.any? %>
  <div class="card text-center p-5">
    No Positions yet created. Click here to add new Asset.
  </div>
<% end %>
