<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
        <% stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :current %>
    <%= form.check_box :current %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :sold_date %>
    <%= form.date_select :sold_date %>
  </div>

  <div class="field">
    <%= form.label :sold_price %>
    <%= form.text_field :sold_price %>
  </div>

  <div class="field">
    <%= form.label :gain_loss %>
    <%= form.text_field :gain_loss %>
  </div>

  <div class="field">
    <%= form.label "Financial Type" %>
    <%= form.collection_select(:financial_type_id, FinancialType.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
