<div class="jumbotron jumbotron-fluid" id="brand-slide">
  <div>
    <div class="text-center">
      <%= image_tag "ruby_logo.png", class: "logo-item" %>
      <%= image_tag "rails_logo.png", class: "logo-item" %>
      <%= image_tag "etbrains_logo.png", class: "logo-item" %>
      <%= image_tag "apple_logo.png", class: "logo-item" %>
    </div>
    <div class="text-center">
      <%= image_tag "bootstrap_logo.png", class: "logo-item" %>
      <%= image_tag "css_logo.png", class: "logo-item" %>
      <%= image_tag "selenium_logo.png", class: "logo-item" %>
      <%= image_tag "ios_logo.png", class: "logo-item" %>
    </div>
    <div class="text-center">
      <%= image_tag "heroku_logo.png", class: "logo-item" %>
      <%= image_tag "html5_logo.png", class: "logo-item" %>
      <%= image_tag "react_logo.png", class: "logo-item" %>
      <%= image_tag "javascript_logo.png", class: "logo-item" %>
    </div>
    <div class="text-center">
      <%= image_tag "mysql_logo.jpg", class: "logo-item" %>
      <%= image_tag "jquery_logo.png", class: "logo-item" %>
      <%= image_tag "python_logo.png", class: "logo-item" %>
      <%= image_tag "django_logo.png", class: "logo-item" %>
      <%= image_tag "sass_logo.svg", class: "logo-item" %>
    </div>
  </div>
</div>
