<div class="jumbotron jumbotron-fluid" id="secondSlide">
  <% #TODO Change this to dynamic %>
  <div class="container mt-4">
    <div class="text-center pb-2">
      <h1 class="display-4 mb-4">What I passion about</h1>
      <p>Some of my projects can be found here: </p><a href="/projects">Projects Page</a>
    </div>
    <hr class="my-4"/>
    <div class="passionWrapper text-center">
      <div class="row rowItem">
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "code", id:"icon" %>
          </div>
          <h1 class="m-0">Web Application Development</h1>
        </div>
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "database", id:"icon" %>
          </div>
          <h1 class="m-0">Database Design</h1>
        </div>
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "retweet", id:"icon" %>
          </div>
          <h1 class="m-0">Software Automation</h1>
        </div>
      </div>
      <div class="row rowItem">
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "android lg", id:"icon" %>
          </div>
          <h1 class="m-0">Robotic Programming</h1>
        </div>
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "apple", id:"icon" %>
          </div>
          <h1 class="m-0">Mobile Application Development</h1>
        </div>
        <div class="col-6 col-md-4 passionItem">
          <div>
            <%= fa_icon "object-group", id:"icon" %>
          </div>
          <h1 class="m-0">UI Design</h1>
        </div>
      </div>
    </div>
  </div>
</div>