<%= form_with(model: income, local: true) do |form| %>
  <% if income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% income.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :source_name %>
    <%= form.text_field :source_name %>
  </div>

  <div class="field">
    <%= form.label :monthly_income %>
    <%= form.text_field :monthly_income %>
  </div>

  <div class="field">
    <%= form.label :year_income %>
    <%= form.text_field :year_income %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :current %>
    <%= form.check_box :current %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
