<p id="notice"><%= notice %></p>

<h1>Badgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Monthly payment</th>
      <th>Months left</th>
      <th>Current</th>
      <th>Amount</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badgets.each do |badget| %>
      <tr>
        <td><%= badget.name %></td>
        <td><%= badget.monthly_payment %></td>
        <td><%= badget.months_left %></td>
        <td><%= badget.current %></td>
        <td><%= badget.amount %></td>
        <td><%= badget.notes %></td>
        <td><%= link_to 'Show', badget %></td>
        <td><%= link_to 'Edit', edit_badget_path(badget) %></td>
        <td><%= link_to 'Destroy', badget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badget', new_badget_path %>
