<div class="container">
  <%= form_with(model: project, local: true) do |form| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
          <% project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :project_title %>
    </div>

    <div class="field">
      <%= form.label :main_image %>
      <%= form.file_field :main_image, id: :project_main_image %>
    </div>

    <div class="field">
      <%= form.rich_text_area :project_content, id: :project_project_content %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

