<%= stylesheet_link_tag "projects" %>
<div class="album">
  <div class="container mt-5">
    <div class="row sortable">
      <% @projects.each_with_index do |project, index| %>
        <% if index % 2 == 0 %>
          <div class="col-md-4" data-id="<%= project.id %>">
            <%= render 'card', project: project %>
          </div>
        <% else %>
          <div class="col-md-12" data-id="<%= project.id %>">
            <%= render 'card', project: project %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container text-center">
  <%= link_to 'New Project', new_project_path if current_user %>
</div>
