<%= render 'greetings' %>

<div class="album">
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-title"><%= project.title %></p>
                <p class="card-text"><%= project.body %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
              <div>
                <%= link_to 'Show', project %>
                <%= link_to 'Edit', edit_project_path(project) %>
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
