<%= stylesheet_link_tag "projects" %>
<% @page_title = "Projects | Dmitrii Skrylev Portfolio"%>
<% @seo_keywords = "Projects Ruby Rails React JavaScript Dmitrii Skrylev"%>
<%= javascript_pack_tag 'BlogsHistory' %>

<div class="album container">
  <div class="project-album-title m-5 p-2">
    <h1 class="text-center">Welcome to my Projects section</h1>
    <h4 class="text-center">Please take a look at some work I've done:</h4>
    <hr>
  </div>
  <div class="text-right">
    Total Projects count: <%= @projects.count %>, Date: <%= Date.today %>
  </div>
  <div>
    <div class="row sortable">
      <% @projects.each do |project| %>
          <div class="col-md-12 col-xl-4 col-lg-4 col-sm-12 col-12" data-id="<%= project.id %>">
              <div class="card mb-4 shadow-sm projectCard">
                <div id="img-cropper">
                  <a href="projects/<%= project.id %>"><%= image_tag project.main_image.variant(resize: "300"), class: "bd-placeholder-img card-img-top imageHolder", id: "imageProject" %></a>
                </div>
                <a href="/projects/<%= project.id %>" class="no-decoraction">
                  <div class="card-body">
                    <p class="card-title"><%= project.title %></p>
                    <p class="card-text cardContent"><%= project.project_content.to_plain_text.first(250)%></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <%= link_to 'More...', project, class: "btn btn-sm btn-outline-secondary btn-block mt-3 mb-3" %>
                      <div class="btn-group">
                        <% if current_user %>
                          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_project_path(project) %></button>
                          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                        <% end %>
                      </div>
                    </div>
                    <small class="text-muted">Added: <%= distance_of_time_in_words(project.created_at, Time.now) %> ago.</small>
                  </div>
                </a>
              </div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="m-4">
    <h3 class="text-center mb-4">LATEST BLOGS</h3>
    <hr class="m-3">
    <div id="react-blogs-history"></div>
  </div>
</div>

<br>

<div class="container text-center">
  <%= link_to 'New Project', new_project_path if current_user %>
</div>