<div class="d-flex picHolder text-center"
     style="background-image: url('<%= url_for(@project.main_image) %>');">
  <div class="container align-self-center p-2 bd-highlight">
    <% if @project.title.length >= 40 %>
      <h1 class="display-3" id="textHolder"><%= @project.title.split[0..@project.title.split.count / 1/3].join(' ') %></h1>
      <h1 id="textHolder"><%= @project.title.split[@project.title.split.count / 1/3 + 1..@project.title.split.count].join(' ') %></h1>
    <% else %>
      <h1 class="display-3" id="textHolder"><%= @project.title %></h1>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <p id="notice"><%= notice %></p>

    <div class="col-9">
      <div class="blogBody"><%= @project.project_content %></div>
    </div>
  </div>

  <%= link_to 'Edit |', edit_project_path(@project) if current_user %>
  <%= link_to 'Back', projects_path %>
</div>
