<%= stylesheet_link_tag "projects" %>
<% @page_title = @project.title + "| Dmitrii Skrylev Portfolio"%>
<% @seo_keywords = @project.title %>
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/railscasts.min.css">

<div class="d-flex projectPicHolder text-center"
     style="background-image: url('<%= url_for(@project.main_image) %>');">
  <div class="container align-self-center p-2 bd-highlight">
    <% if @project.title.length >= 40 %>
      <h1 class="display-3" id="textHolder"><%= @project.title.split[0..@project.title.split.count / 1/3].join(' ') %></h1>
      <h1 id="textHolder"><%= @project.title.split[@project.title.split.count / 1/3 + 1..@project.title.split.count].join(' ') %></h1>
    <% else %>
      <h1 class="display-3" id="textHolder"><%= @project.title %></h1>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <p id="notice"><%= notice %></p>

    <div class="col-11">
      <div class="text-center">
        <%= link_to 'Back', projects_path, class: "btn btn-light btn-lg m-4" %>
      </div>
      <div class="projectBody"><%= @project.project_content %></div>
      <div class="text-center">
        <%= link_to 'Back', projects_path, class: "btn btn-light btn-lg m-4" %>
      </div>
    </div>
  </div>



  <div id="disqus_thread"></div>
  <div class="m-4">
    <h3 class="text-center mb-4">LATEST BLOGS</h3>
    <hr class="m-3">
    <div id="react-blogs-history"></div>
  </div>
  <div class="m-4">
    <h3 class="text-center mb-4">MORE PROJECTS</h3>
    <hr class="m-3">
    <div id="react-projects-history"></div>
  </div>
  <script>

    var disqus_config = function () {
      this.page.url = "http://skrdev.com/projects/<%= @project.id %>";
      this.page.identifier = "project<%= @project.id %>";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://skrdev.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



  <div class="container text-center">
    <%= link_to 'Edit |', edit_project_path(@project) if current_user %>
    <%= link_to 'Back', projects_path %>
  </div>
</div>

<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>