<p id="notice"><%= notice %></p>

<p>
  <strong>Path:</strong>
  <%= @picture.path %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @picture.blog %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
