<%= form_with(model: photo_section, local: true) do |form| %>
  <% if photo_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_section.errors.count, "error") %> prohibited this photo_section from being saved:</h2>

      <ul>
        <% photo_section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
