<p id="notice"><%= notice %></p>

<h1>Photo Sections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_sections.each do |photo_section| %>
      <tr>
        <td><%= photo_section.name %></td>
        <td><%= link_to 'Show', photo_section %></td>
        <td><%= link_to 'Edit', edit_photo_section_path(photo_section) %></td>
        <td><%= link_to 'Destroy', photo_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo Section', new_photo_section_path %>
