<div class="container">
  <h1>Jobs Manager</h1>

  <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Organization</th>
      <th scope="col">Title</th>
      <th scope="col">Url</th>
      <th scope="col">Interview</th>
      <th scope="col">Replayed</th>
      <th scope="col">Address</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @manager_jobs.each do |manager_job| %>
      <tr>
        <td><%= manager_job.organization %></td>
        <td><%= manager_job.title %></td>
        <td><%= manager_job.url %></td>
        <td><%= manager_job.interview %></td>
        <td><%= manager_job.replied %></td>
        <td><%= manager_job.address %></td>
        <td><%= link_to 'Show', manager_job %></td>
        <td><%= link_to 'Edit', edit_manager_job_path(manager_job) %></td>
        <td><%= link_to 'Destroy', manager_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @manager_jobs %>
  <div>
    <%= link_to 'New Manager Job', new_manager_job_path, class:"btn" %>
  </div>
</div>
