<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Jobs Manager</h1>

  <% @manager_jobs.each do |manager_job| %>
    <div class="card p-1 mt-3 mb-3">
      <div class="card-body">
        <div class="card-title bg-dark text-light p-3 text-center"><%= manager_job.organization.upcase %></div>
        <hr>
        <div class="row">
          <div class="col-6">
            <div class="row mt-1 mb-1">
              <div class="col-2"><b>Title:</b></div>
              <div class="col-10"><%= manager_job.title %></div>
            </div>
            <div class="row mt-1 mb-1">
              <div class="col-2"><b>Link:</b></div>
              <div class="col-10"><a href="<%= manager_job.url %>"><%= manager_job.url %></a></div>
            </div>
            <div class="row mt-1 mb-1">
              <div class="col-2"><b>Notes:</b></div>
              <div class="col-10"><%= manager_job.notes %></div>
            </div>
          </div>
          <div class="col-6">
            <div class="row mt-1 mb-1">
              <div class="col-4"><b>Had Interview:</b></div>
              <div class="col-6"><%= manager_job.interview %></div>
            </div>
            <div class="row mt-1 mb-1">
              <div class="col-4"><b>Employer Replied:</b></div>
              <div class="col-6"><%= manager_job.replied %></div>
            </div>
            <div class="row mt-1 mb-1">
              <div class="col-4"><b>Address:</b>></div>
              <div class="col-6"><%= manager_job.address %></div>
            </div>
          </div>
        </div>

        <hr>
        <div class="mt-3 text-center">
          <%= link_to 'Show', manager_job , class:"btn" %>
          <%= link_to 'Edit', edit_manager_job_path(manager_job), class:"btn" %>
          <%= link_to 'Destroy', manager_job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Manager Job', new_manager_job_path %>
</div>
