<%= javascript_pack_tag 'job_manager/TotalJobs' %>

<div>
  <div class="container">
    <h1>Jobs Manager</h1>
  </div>

  <div class="p-3 mt-2 mb-2">
    <div id="total-jobs"></div>
  </div>


  <div class="container">
    <table class="table table-striped table-dark">
      <thead>
      <tr>
        <th scope="col">Organization</th>
        <th scope="col">Title</th>
        <th scope="col">Url</th>
        <th scope="col">Interview</th>
        <th scope="col">Replayed</th>
        <th scope="col">Address</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @manager_jobs.each do |manager_job| %>
        <tr>
          <td><%= manager_job.organization %></td>
          <td><%= manager_job.title %></td>
          <td><%= manager_job.url %></td>
          <td><%= pending_interview(manager_job) %></td>
          <td><%= pending_reply(manager_job) %></td>
          <td><%= manager_job.address %></td>
          <td><%= link_to 'Show', manager_job, class:"btn btn-sm text-light bg-dark" %></td>
          <td><%= link_to 'Edit', edit_manager_job_path(manager_job), class:"btn btn-sm text-light bg-dark" %></td>
          <td><%= link_to 'Destroy', manager_job, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm text-light bg-dark" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <%= paginate @manager_jobs %>
    <div>
      <%= link_to 'New Manager Job', new_manager_job_path, class:"btn" %>
    </div>
  </div>
</div>


<style>
  .chartItem {
    display:inline-block;
    width: 300px;
    height: 300px;
    min-height: 350px;
  }

  .total-count {
    position: relative;
    bottom: 48%;
    left: -37%;
    font-size: 4rem;
  }

    .rate-wrapper {
      background-color: rgba(25, 54, 65, 1);
      border-radius: 50%;
      width: 155px;
      height: 155px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 52px;
    }

    #statistic-wrapper {
      padding-top: 50px;
    }

    #wide-card-wrapper {
      min-height: 350px;
    }

    #add-new-job {
      font-size: 5rem;
    }

    .secondary-cards-wrapper {
      min-height: 198px;
    }
</style>