<%= form_with(model: education, local: true) do |form| %>
  <% if education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_field :school, id: :education_school %>
  </div>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree, id: :education_degree %>
  </div>

  <div class="field">
    <%= form.label :date_ended %>
    <%= form.date_select :date_ended, id: :education_date_ended %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
