<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @education.school %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @education.degree %>
</p>

<p>
  <strong>Date ended:</strong>
  <%= @education.date_ended %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
