<section id="footer" >
  <div class="footerNavBar container text-center mt-3">
    <div class="container text-center">
      <div id="nav_bar text-center">
        <span class="nav_item_footer">
          <a href="<%= root_url %>">
            <span>Home</span>
          </a>
        </span>
        <span class="extraDecoration"> - </span>
        <span class="nav_item_footer">
          <a href="<%= root_url %>">
            <span>Resume</span>
          </a>
        </span>
        <span class="extraDecoration"> - </span>
        <span class="nav_item_footer">
          <a href="<%= blogs_path %>">
            <span>Blog</span>
          </a>
        </span>
        <span class="extraDecoration"> - </span>
        <span class="nav_item_footer">
          <a href="<%= projects_path %>">
            <span>Projects</span>
          </a>
        </span>
        <span class="extraDecoration"> - </span>
        <span class="nav_item_footer">
          <a href="<%= contacts_path %>">
            <span>Contacts</span>
          </a>
        </span>
      </div>
    </div>
    <div class="mb-1 mt-2" id="copyRights">
      <span>© <%= Time.now.strftime('%Y') %> Dmitrii Skrylev All Rights Reserved</span>
    </div>
    <%= render 'social_icons' %>
    <div>
      <%= image_tag "black_ruby.png", class: "headBarLogo" %>
    </div>
    <div>
      <p class="extraDecoration">...</p>
    </div>
  </div>
</section>
