<footer id="footer">
  <div class="footerNavBar container text-center mt-3">
    <div class="container text-center">
      <ul id="nav_bar">
        <li class="nav_item_footer">
          <a href="<%= root_url %>">
            <span id="item_1">Resume</span>
          </a>
        </li>
        <span id="item_1"> - </span>
        <li class="nav_item_footer">
          <a href="<%= blogs_path %>">
            <span id="item_2">Blog</span>
          </a>
        </li>
        <span id="item_1"> - </span>
        <li class="nav_item_footer">
          <a href="<%= projects_path %>">
            <span id="item_3">Projects</span>
          </a>
        </li>
        <span id="item_1"> - </span>
        <li class="nav_item_footer">
          <a href="<%= contacts_path %>">
            <span id="item_4">Contacts</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="mb-1">
      © <%= Time.now.strftime('%Y') %> Dmitrii Skrylev All Rights Reserved
    </div>
    <div class="col-md-12 mt-2 mb-2">
      <ul class="social-network social-circle">
        <% #TODO Change links from static to dynamic from user info %>
        <li><a href="https://www.facebook.com/profile.php?id=100006026142892" id = "socialItem" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram/zhivou" id = "socialItem" class="icoTwitter" title="Twitter"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/zhivou" id = "socialItem" class="icoGoogle" title="Google +"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/dmitriiskrylev/" id = "socialItem" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.skrdev.com/contacts" id = "socialItem" class="icoGoogle" title="Google +"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    <div>
      <%= image_tag "black_ruby.jpg", class: "headBarLogo" %>
    </div>
    <div>
      ...
    </div>
  </div>
</footer>
