<header id="header" class="sticky-top">
  <div class="container p-0 nav-container">
    <nav class="navbar navbar-dark navbar-expand-lg text-right pl-0 pr-0">
      <!--  Logo  -->
      <span class="navLogo justify-content-md-center">
      <a href="<%= root_url %>" class="logoLink">
        <span id="logo-holder" class="font_black">Dmitrii Skrylev</span>
      </a>
    </span>
      <!--  Logo end -->

      <!--  Toggler  -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--  Toggler end  -->

      <!--  Collapsible content  -->
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
        <ul class="navbar-nav" id="nav_bar">
          <li class="nav_item">
            <a href="<%= root_url %>">
              <span id="button-home" class="item-holder font_black <%= 'active' if params[:controller] == 'home' %>">Home</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= resume_path %>">
              <span id="item_2" class="item-holder font_black <%= 'active' if params[:controller] == 'static_pages' %>">Resume</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= blogs_path %>">
              <span id="item_2" class="item-holder font_black <%= 'active' if params[:controller] == 'blogs' %>">Blog</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= projects_path %>">
              <span id="item_3" class="item-holder font_black <%= 'active' if params[:controller] == 'projects' %>">Projects</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= contacts_path %>">
              <span id="item_4" class="item-holder font_black <%= 'active' if params[:controller] == 'contacts' %>">Contacts</span>
            </a>
          </li>
          <div class="dropdown nav_item font_black">
            <li class="item-holder" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="item-holder font_black">APPS</span>
            </li>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
              <a href="<%= photos_path %>" class="dropdown-item">PHOTO FEED</a>
              <a class="dropdown-item" href="https://aermotion.herokuapp.com">AERMOTION VIDEO SELLING PLATFORM</a>
              <a class="dropdown-item" href="https://fatemes-portfolio.herokuapp.com/">PHD CANDIDATE WEB APP</a>
              <a class="dropdown-item" href="/spacex">SPACEx</a>
              <a class="dropdown-item" href="/skills_app">SCROLL EXP</a>
              <%= link_to 'HOUSEHOLD', household_dashboard_path, class: "dropdown-item" %>
            </div>
          </div>
          <li class="nav_item">
            <%= login_helper %>
          </li>
          <li class="nav_item">
            <%= edit_helper %>
          </li>
        </ul>
      </div>
      <!--  Collapsible content end -->
    </nav>
  </div>
</header>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop >= 80) {
            document.getElementById("header").style.backgroundColor = "#193641";
            $("#logo-holder").removeClass("font_black");
            $("#logo-holder").addClass("font_white");
            $(".item-holder").removeClass("font_black");
            $(".item-holder").addClass("font_white");
            $(".navLogo").css("font-size", "30px");
            $(".nav_item").css("font-size", "25px");
            $(".navbar-toggler").css("background-color", "transparent");
        }
        else if (document.documentElement.scrollTop < 20) {
            document.getElementById("header").style.backgroundColor = "transparent";
            $("#logo-holder").removeClass("font_white");
            $("#logo-holder").addClass("font_black");
            $(".item-holder").removeClass("font_white");
            $(".item-holder").addClass("font_black");
            $(".navLogo").css("font-size", "40px");
            $(".nav_item").css("font-size", "30px");
            $(".navbar-toggler").css("background-color", "black");
        }
    }
</script>
