<header id="header" class="sticky-top">
  <div class="container p-0 nav-container">
    <nav class="navbar navbar-dark navbar-expand-lg text-right pl-0 pr-0">
      <!--  Logo  -->
      <span class="navLogo justify-content-md-center">
      <a href="<%= root_url %>" class="logoLink">
        <span id="item_1" class="font_white">Dmitrii Skrylev</span>
      </a>
    </span>
      <!--  Logo end -->

      <!--  Toggler  -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--  Toggler end  -->

      <!--  Collapsible content  -->
      <div class="collapse navbar-collapse justify-content-md-end" id="navbarCollapse">
        <ul class="navbar-nav" id="nav_bar">
          <li class="nav_item">
            <a href="<%= root_url %>">
              <span id="button-home" class="font_white <%= 'active' if params[:controller] == 'home' %>">Home</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= resume_path %>">
              <span id="item_1" class="font_white <%= 'active' if params[:controller] == 'static_pages' %>">Resume</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= blogs_path %>">
              <span id="item_2" class="font_white <%= 'active' if params[:controller] == 'blogs' %>">Blog</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= projects_path %>">
              <span id="item_3" class="font_white <%= 'active' if params[:controller] == 'projects' %>">Projects</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= photos_path %>">
              <span id="item_4" class="font_white <%= 'active' if params[:controller] == 'photos' %>">Photos</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="<%= contacts_path %>">
              <span id="item_4" class="font_white <%= 'active' if params[:controller] == 'contacts' %>">Contacts</span>
            </a>
          </li>
          <li class="nav_item">
            <%= login_helper %>
          </li>
          <li class="nav_item">
            <%= edit_helper %>
          </li>
        </ul>
      </div>
      <!--  Collapsible content end -->
    </nav>
  </div>
</header>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop >= 80) {
            document.getElementById("header").style.backgroundColor = "transparent";
            $("nav-holder").style.padding = "0px";
            //parallax-window
        }
        else if (document.documentElement.scrollTop < 20) {
            document.getElementById("header").style.backgroundColor = "#193641";
            document.getElementById("nav-holder").style.padding = "20px";
        }
    }
</script>