<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142239129-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142239129-1');
    </script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body data-turbolinks="false">
    <div id="myModal"></div>
    <div class="applicationWrapper">
      <% if params[:controller] != 'photos' %>
        <%= render 'nav_bar' %>
      <% else %>
      <% end %>
      <p class="notice" style="display: <%= "none" unless notice %>;"><%= notice %></p>
      <p class="alert" style="display: <%= "none" unless notice %>;"><%= alert %></p>
      <%= yield %>
    </div>
    <% if params[:controller] != 'photos' %>
      <%= render 'footer' %>
    <% else %>
    <% end %>
  </body>
</html>
