<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142239129-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142239129-1');
    </script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body data-turbolinks="false">
    <div id="myModal"></div>
      <% if params[:controller] == 'photos'%>
        <%= yield %>
      <% elsif params[:controller] == 'household' ||
          params[:controller] == 'manager_jobs'
      %>
        <div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li class="sidebar-brand">
                <a href="#">
                  HOUSEHOLD
                </a>
              </li>
              <li>
                <%= link_to 'Dashboard', household_dashboard_path %>
              </li>
              <li>
                <%= link_to 'Job Manager', manager_jobs_path %>
              </li>
              <li>
                <a href="#">Overview</a>
              </li>
              <li>
                <a href="#">Events</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Services</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
          </div>

          <!-- Page Content -->
          <div class="p-2">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
          </div>
          <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="applicationWrapper">
          <%= render 'nav_bar' %>
          <p class="notice" style="display: <%= "none" unless notice %>;"><%= notice %></p>
          <p class="alert" style="display: <%= "none" unless notice %>;"><%= alert %></p>
          <%= yield %>
        </div>
        <%= render 'footer' %>
      <% end %>
  </body>
</html>

<!-- /#wrapper -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
